POSTGRES_USER=postgres
POSTGRES_PASSWORD=rootpw
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DATABASE=angel_users_development

TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=rootpw
TEST_POSTGRES_HOST=127.0.0.1
TEST_POSTGRES_PORT=5432
TEST_POSTGRES_DATABASE=angel_users_test

KAFKA_BROKERS=localhost:9092,localhost:9092,localhost:9092
TEST_KAFKA_BROKERS=localhost:9092,localhost:9092,localhost:9092
