ENVIRONMENT=test
TEST_POSTGRES_USER=postgres
TEST_POSTGRES_PASSWORD=rootpw
TEST_POSTGRES_HOST=127.0.0.1
TEST_POSTGRES_PORT=5432
TEST_POSTGRES_DATABASE=angel_library

TEST_KAFKA_BROKERS=localhost:9092
